/* GENERAL STYLES
- - - - - - - - - - - - - - - - - - - - - */
body {
    background: #ecf0f1;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
  }
  
  
  /* TYPOGRAPHY STYLES
  - - - - - - - - - - - - - - - - - - - - - */
  h1 strong {
    display:block;
    font-family: 'Ewert', cursive;
    font-size: 90px;
    font-weight: normal;
    color: #B109AA;
  }
  
  p {
    text-align: center;
  }
  
  
  /* TARGET SECTION STYLES (ALL)
  - - - - - - - - - - - - - - - - - - - - - */
  form {
    animation-name: move;
    animation-duration: 30s;
    animation-delay: 1s;
    animation-timing-function: linear;
  }
  
  label {
    background: #B109AA;
    border-radius: 50%;
    box-shadow: inset 0 0 0 15px #000000, inset 0 0 0 30px #ffffff; /* css trick: double border */
  }
  
  input:checked + label {
    transform: rotateX(50deg);
    background: url(../images/rsz_after.jpg);
  }
  
  
  /* INDIVIDUAL TARGET STYLES
  change the size, shape, background, add more, etc
  - - - - - - - - - - - - - - - - - - - - - */
  label:first-of-type {
    width: 140px;
    padding-bottom: 140px;
    background: url(../images/rsz_before.jpg);
    left: 0;
  }
  
  label:nth-of-type(2) {
    width: 90px;
    padding-bottom: 90px;
    left: 5%;
  }
  
  label:nth-of-type(3) {
    width: 120px;
    padding-bottom: 120px;
    background: url(../images/rsz_before.jpg);
    left: 10%;
  }
  
  label:nth-of-type(4) {
    width: 180px;
    padding-bottom: 180px;
    background: url(../images/rsz_before.jpg);
    left: 15%;
  }
  
  label:nth-of-type(5) {
    width: 100px;
    padding-bottom: 100px;
    left: 20%;
  }
  
  
  /* CSS ANIMATION KEYFRAME TO MOVE TARGETS
  - - - - - - - - - - - - - - - - - - - - - */
  @keyframes move {
    to {
        transform: translateX(-100%);
    }
  }


  /* RESET HTML5 DEFAULT STYLES 
- - - - - - - - - - - - - - - - - - - - - */
html, body{height: 100%; } 


/* ADVANCED CSS STYLES (MODIFY AT OWN RISK)
- - - - - - - - - - - - - - - - - - - - - */
body {
  counter-reset: checked input;  /* Set a counter named 'checked' and 'input', and its initial value is 0. */
  overflow: hidden; 
}
form {
  position: relative;
  top: 25%;
  width: 400%;
  transform: translateX(15%);
  transform-style: preserve-3d;
}
input {
  visibility: hidden;
  position: absolute;
  counter-increment: input;  /* Increment the value of 'input' counter by 1 */
}
input:checked {
  counter-increment: checked;   /* Increment the value of 'checked' counter by 1 */
}
label {
  display: block;
  position: absolute;
  bottom: 100%;
  transform-origin: 0 105%;  /* ensures the targets are all transforming from the bottom */
  transition: transform 1s cubic-bezier(0, 2, 0.2, 1); /* cubic bezier curve will make the target bounce down and back a bit - see more at cubic-bezier.com */
}


/* COUNTER SECTION STYLES
- - - - - - - - - - - - - - - - - - - - - */
footer {
  border-top: 10px solid #B109AA;
  padding-top: 30px;
  margin-top: 10px;
  position: relative;
  top: 30%;
  text-align: center;
}

footer:before, footer:after {
  display: block;
}

footer:before {
  content: "score : " counter(checked);  /* Display the value of 'checked' counter */
  font-size: 5em;
}

footer:after {
  content: "remaining : " counter(input);  /* Display the value of 'input' counter */
}
div {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100px;
}
a {
  display: block;
  width: 200px;
  border: 10px outset white;
  text-decoration: none;
  margin-right: 100px;
  
}