/* Pure CSS/HTML Game of Group 7 */
/* Contributor: Zahra ARABLOU, Chunmei LIU, Ying LUO */

body{
    font-family: 'Indie Flower', cursive;
    color: white;
    text-transform: uppercase;
    background: no-repeat url(../images/Background.png);
    background-size: cover;
    cursor: crosshair;
    overflow: hidden;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer{
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  bottom: 0;
  margin-bottom: 4%;
}

.sub-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left, .right{
    flex: 1;
}

.bird-range{
    flex: 5;
    counter-reset: checked input;
}

.count::before {
    content: "Score : " counter(checked);
    font-size: 3em;
  }

.count::after {
    content: "Remaining : " counter(input);
    font-size: 3em;
  }

.bird{
    position: absolute;
    left: -150px;
    right: 0px;
    height: 0px;
    border-radius: 100%;
    z-index: 10;
    transform: translateZ(0);
  }

.body {
    display: block;
    cursor: crosshair;
    transition: all 0.6s;
    background: no-repeat center url(../images/bird.png);
    background-size: cover;
    width: 149px;
    height: 150px;
  }

  input[type="radio"]{
      opacity: 0;
  }

  label:nth-of-type(10n+1) {
    top: 52%;
    animation: fly 12s 1.4s linear infinite;
  }
  label:nth-of-type(10n+1) .body {
    width: 149px;
    animation: float 2.3s infinite cubic-bezier(0.58, 0.14, 0.46, 0.92);
  }
  
  label:nth-of-type(10n+2) {
    top: 11%;
    animation: fly 8s 13.2s linear infinite;
  }
  label:nth-of-type(10n+2) .body {
    animation: float 1.7s infinite cubic-bezier(0.58, 0.14, 0.46, 0.92);
  }
  
  label:nth-of-type(10n+3) {
    top: 53%;
    
    animation: fly 16s 11.9s linear infinite;
  }
  label:nth-of-type(10n+3) .body {
    animation: float 2.4s infinite cubic-bezier(0.58, 0.14, 0.46, 0.92);
  }
  
  label:nth-of-type(10n+4) {
    top: 2%;
    
    animation: fly 8s 14.9s linear infinite;
  }
  label:nth-of-type(10n+4) .body {
    animation: float 2.9s infinite cubic-bezier(0.58, 0.14, 0.46, 0.92);
  }
  
  label:nth-of-type(10n+5) {
    top: 56%;
    
    animation: fly 9s 5.8s linear infinite;
  }
  label:nth-of-type(10n+5) .body {
    animation: float 1.7s infinite cubic-bezier(0.58, 0.14, 0.46, 0.92);
  }
  
  label:nth-of-type(10n+6) {
    top: 25%;
    
    animation: fly 13s 3.7s linear infinite;
  }
  label:nth-of-type(10n+6) .body {
    animation: float 2.1s infinite cubic-bezier(0.58, 0.14, 0.46, 0.92);
  }
  
  label:nth-of-type(10n+7) {
    top: 55%;
    animation: fly 7s 3.1s linear infinite;
  }
  label:nth-of-type(10n+7) .body {
    animation: float 2.6s infinite cubic-bezier(0.58, 0.14, 0.46, 0.92);
  }
  
  label:nth-of-type(10n+8) {
    top: 8%;
    
    animation: fly 11s 7s linear infinite;
  }
  label:nth-of-type(10n+8) .body {
    animation: float 2.7s infinite cubic-bezier(0.58, 0.14, 0.46, 0.92);
  }
  
  label:nth-of-type(10n+9) {
    top: 33%;
    
    animation: fly 11s 4.8s linear infinite;
  }
  label:nth-of-type(10n+9) .body {
    animation: float 3.4s infinite cubic-bezier(0.58, 0.14, 0.46, 0.92);
  }
  
  label:nth-of-type(10n+10) {
    top: 45%;
    
    animation: fly 12s 12.5s linear infinite;
  }
  label:nth-of-type(10n+10) .body {
    animation: float 2s infinite cubic-bezier(0.58, 0.14, 0.46, 0.92);
  }
  
  @keyframes fly {
    0% {transform: translateX(0px);}
    100% {transform: translateX(100%);}
  }
  @keyframes float {
    0% {transform: translateY(50%);}
    50% {transform: translateY(-60%);}
    100% {transform: translateY(50%);}
  }

  .again {
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 3em;
    padding: 3% 6%;
    position: absolute;
    background-color: rgb(185, 19, 136);
    box-shadow: rgb(54, 54, 110) 2px 4px;
    border-radius: 5%;
    animation: appear 20s forwards;
  }

  @keyframes appear {
    0% {
      top: -10px;
      opacity: 0;
    }
    99%{
      top: 0;
      opacity:0;
    }
    100% {
      top: 30%;
      left: 30%;
      opacity: 1;
    }
  }

  input:checked{
    counter-increment: checked;
}

  input{
    counter-increment: input;
}

input:checked + span{
  display: none;
}